{% extends 'FutureEagles/html/base.html' %}

{% block sidebar %}
    <div id="sidebar">
        <div id="toggle" onclick="showMobileNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div id="sidebar-buttons">
            <button id="calendar-switch">Calendar</button>
            <button id="list-switch">List</button>
            <button id="notes-switch">Notes</button>
            <button id="google-signin-button" ><div class="g-signin2" data-onsuccess="onSignIn" data-theme="light"></div></button>
        </div>
    </div>
{% endblock %}

<!-- *******Blueprint for task in list container********* -->
{% block task_blueprint %}
    <li>
        <div id="task">sleep</div>
        <div id="end-date">5min</div>
        <div id="status">X</div>
        <div id="dropdown">
            <div id="settings-container">
                <div id="settings">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="dropdown-content">
                <a href="">test 1</a>
                <a href="">test 2</a>
                <a href="">test 3</a>
            </div>
        </div>
    </li>
{% endblock %}


{% block task_container %}
    <ul id="list-container">
        <button id="create-task">Create new Task</button>
        <div id="column-titles">
            <p>Task</p>
            <p>Due Date</p>
            <p>Status</p>
            <p>Edit</p>
        </div>

        {% for i in user_task %}
            {% if "default" == i.task %}
            {% else %}
                <li id="{{i.task}}">
                    <div id="task">{{i.task}}</div>
                    <div id="end-date">{{i.due_date}}</div>
                    <div id="status">{{i.status}}</div>
                    <div id="dropdown">
                        <div id="settings-container">
                            <div id="settings">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div id="dropdown-content">
                            <a onclick="testSocket(id)" id="edit task,{{i.task}},{{i.due_date}},{{i.status}},{{current_user}},{{i.user_id}}">Edit</a>
                            <a onclick="testSocket(id)" id="delete task,{{i.task}},{{i.due_date}},{{i.status}},{{current_user}},{{i.user_id}}">Delete</a>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div id="popup-container">
        <div class="popup" id="list-popup">
            <div class="popup-header"><button>X</button></div>
            <div class="popup-body"><h3>Please describe the task below.</h3></div>
            <div class="popup-footer">
                <input type="text" placeholder="Task..." name="task" id="new-task">
                <input type="date" name="task-date" id="task-date">
                <br>
                <button id="submit-task" >Enter</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block popup_create_task %}
    <div id="popup-container">
        <div class="popup">
            <div class="popup-header"><button>X</button></div>
            <div class="popup-body"><h3>Please describe the task below.</h3></div>
            <div class="popup-footer">
                <input type="text" placeholder="Task..." name="task" id="new-task">
                <input type="date" name="task-date" id="task-date">
                <br>
                <button id="submit-task" >Enter</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block notes_container %}
    <div id="notes-container">
        <button id="create-note">Create Note</button>
        <ul id="notes-list">
            <li class="note">
                <p>Test</p>
            </li>
        </ul>

        <div id="popup-container">
            <div class="popup" id="note-popup">
                <div class="popup-header"><button>X</button></div>
                <div class="popup-body">
                </div>
                <div class="popup-footer">
                    <textarea name="new-note" id="new-note" cols="30" rows="10"></textarea>
                    <br>
                    <button id="submit-note" >Enter</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}